<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css" />
    <title>User Management System</title>
  </head>

  <body>
    <h2>User Management System</h2>
    <table>
      <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>User Email</th>
        <th>Age</th>
        <th>Delete</th>
      </tr>
      <% data.forEach(element => { %>
      <tr>
        <td><%= element.userUniqueId %></td>
        <td><%= element.userName %></td>
        <td><%= element.userEmail %></td>
        <td><%= element.userAge %></td>
        <td>
          <form action="/users/delete" method="post">
            <input
              type="text"
              style="display: none"
              name="userUniqueId"
              value="<%= element.userUniqueId %>"
            />
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </table>

    <h2>Add User</h2>

    <form action="/users" method="post">
      <input type="text" placeholder="User Unique Id" name="userUniqueId" />
      <input type="text" placeholder="User Name" name="userName" />
      <input type="text" placeholder="User Email" name="userEmail" />
      <input type="text" placeholder="User Age" name="userAge" />
      <button type="submit">Submit</button>
    </form>

    <h2>Update User</h2>

    <form action="/users/update" method="post">
      <input type="text" placeholder="User Unique Id" name="userUniqueId" />
      <input type="text" placeholder="User Name" name="userName" />
      <input type="text" placeholder="User Email" name="userEmail" />
      <input type="text" placeholder="User Age" name="userAge" />
      <button type="submit">Update</button>
    </form>
  </body>
</html>
